<div class="media profile-media">
  <img class="b-r-10" style="height: 35px;" src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_640.png" alt="">
  <div class="media-body"><span>{{user.lastname}}</span>
    <p class="mb-0 font-roboto">{{user.username}}<i class="middle fa fa-angle-down"></i></p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <li><a href="/user/profile"><app-feather-icons [icon]="'user'"></app-feather-icons><span>Account </span></a></li>
  <li><a href="email"><app-feather-icons [icon]="'mail'"></app-feather-icons><span>Inbox</span></a></li>
  <li><a href="/to-do"><app-feather-icons [icon]="'file-text'"></app-feather-icons><span>Taskboard</span></a></li>
  <li><a href="/faq"><app-feather-icons [icon]="'settings'"></app-feather-icons><span>Settings</span></a></li>
  <li (click)="onLogOut()" data-bs-toggle="modal" data-bs-target="#ModalCenter"><app-feather-icons [icon]="'log-in'"></app-feather-icons><span>Log out</span></li>
</ul>
<div class="modal fade" id="ModalCenter">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content rounded ">
      <div class="modal-body px-5">
        <div>
          <h5 class="modal-title " id="exampleModalLongTitle">Se deconnecter </h5>
          <p class="text-center">Voulez-vous déconnecter ?</p>
        </div>
      </div>
      <div class="modal-footer rounded justify-content-center bg-secondary">
        <button  class="btn btn-primary btn-sm  mr-4 px-4" data-dismiss="modal">Annuler</button>
        <span class="btn btn-success btn-sm" (click)="onLogOut()" data-dismiss="modal" >Deconnexion</span>
      </div>
    </div>
  </div>
  </div>